mixin meetup_short(meetup, slug)
    h2: a(href='/meetup/#{ slug }.html') Meetup: #{ meetup.title }
    ul
        if meetup.schedule
            each topic, number in meetup.schedule
                li
                    strong #{ topic.title }
                    br
                    | by #{ topic.speaker },
                    if topic.video
                        a(href='/videos.html##{ slug }-#{ number }')  Video
                    if topic.info
                        a(href='#{ topic.info }')  Info

for meetup, slug in public.meetup._data.archive
    if meetup.title
        +meetup_short(meetup, slug)
        hr
